@charset "UTF-8";

.ItemConst {

  .icon {
    margin-right: 3px;
  }

  .label {
    height: 32px;
    line-height: 32px;
    text-align: right;
    word-break: break-all;
  }

  .label.required {
    color: #ff6d74;
  }

  .scope {

    position: relative;
    min-height: 32px;
    line-height: 32px;
    margin-bottom: 15px;

    .const {
      width: 100%;
      min-height: 32px;
      line-height: 32px;
      text-align: left;
    }

  }


}
